<html ng-app="renaBankaPortfolio">
<head>
  <title>Rena Banka | Product and Web Developer</title>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/skeleton.css'/>
  <link rel='stylesheet' href='/stylesheets/normalize.css'/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
</head>

<body>


<nav class="nav">


  <ul>
    <a href="#" id="menu-icon"></a>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Development</a></li>
    <li><a href="/process">Process</a></li>
    <li id="process"><a href="/design">Design</a></li>


  </ul>

</nav>






<div ng-view>



</div>


<script src="/javascripts/app.js"></script>

</body>

</html>

